/rhc
/rhc.1.gz
/USAGE.md
rhc.spec
BUILD
BUILDROOT
RPMS
SOURCES
SRPMS

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jetbrains
.idea/

# Vim
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Visual Studio Code
.vscode
